# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/target/classes/words_release.db
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/junitreports/TEST-fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest.xml
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/classes.html
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/Command line test.properties
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/groups.html
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/index.html
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/main.html
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/methods.html
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/methods-alphabetical.html
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/methods-not-run.html
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/reporter-output.html
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/testng.xml.html
/target/surefire-reports/old/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/toc.html
/target/surefire-reports/old/index.html
/target/surefire-reports/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/Command line test.html
/target/surefire-reports/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/Command line test.xml
/target/surefire-reports/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest/testng-failed.xml
/target/surefire-reports/bullet_point.png
/target/surefire-reports/collapseall.gif
/target/surefire-reports/emailable-report.html
/target/surefire-reports/failed.png
/target/surefire-reports/index.html
/target/surefire-reports/jquery-3.6.0.min.js
/target/surefire-reports/navigator-bullet.png
/target/surefire-reports/fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest.txt
/target/surefire-reports/passed.png
/target/surefire-reports/skipped.png
/target/surefire-reports/TEST-fluentcodes.mmm.fluentcodes.sammmm.io.github.FluentCodesTest.xml
/target/surefire-reports/testng.css
/target/surefire-reports/testng-failed.xml
/target/surefire-reports/testng-reports.css
/target/surefire-reports/testng-reports.js
/target/surefire-reports/testng-reports1.css
/target/surefire-reports/testng-reports2.js
/target/surefire-reports/testng-results.xml
/.idea/dataSources.xml
/target/maven-archiver/pom.properties
/target/surefire-reports/io.github.sammmm.fluentcodes.FluentCodesTest/Command line test.html
/target/surefire-reports/io.github.sammmm.fluentcodes.FluentCodesTest/Command line test.xml
/target/surefire-reports/junitreports/TEST-io.github.sammmm.fluentcodes.FluentCodesTest.xml
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/classes.html
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/Command line test.properties
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/groups.html
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/index.html
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/main.html
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/methods.html
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/methods-alphabetical.html
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/methods-not-run.html
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/reporter-output.html
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/testng.xml.html
/target/surefire-reports/old/io.github.sammmm.fluentcodes.FluentCodesTest/toc.html
/target/surefire-reports/io.github.sammmm.fluentcodes.FluentCodesTest.txt
/target/surefire-reports/TEST-io.github.sammmm.fluentcodes.FluentCodesTest.xml
/target/javadoc-bundle-options/element-list
/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/target/site/apidocs/io/github/sammmm/fluentcodes/class-use/FluentCodes.html
/target/site/apidocs/io/github/sammmm/fluentcodes/class-use/LengthMismatchException.html
/target/site/apidocs/io/github/sammmm/fluentcodes/FluentCodes.html
/target/site/apidocs/io/github/sammmm/fluentcodes/LengthMismatchException.html
/target/site/apidocs/io/github/sammmm/fluentcodes/package-summary.html
/target/site/apidocs/io/github/sammmm/fluentcodes/package-tree.html
/target/site/apidocs/io/github/sammmm/fluentcodes/package-use.html
/target/site/apidocs/legal/ADDITIONAL_LICENSE_INFO
/target/site/apidocs/legal/ASSEMBLY_EXCEPTION
/target/site/apidocs/legal/jquery.md
/target/site/apidocs/legal/jqueryUI.md
/target/site/apidocs/legal/LICENSE
/target/site/apidocs/resources/glass.png
/target/site/apidocs/resources/x.png
/target/site/apidocs/script-dir/images/ui-bg_glass_55_fbf9ee_1x400.png
/target/site/apidocs/script-dir/images/ui-bg_glass_65_dadada_1x400.png
/target/site/apidocs/script-dir/images/ui-bg_glass_75_dadada_1x400.png
/target/site/apidocs/script-dir/images/ui-bg_glass_75_e6e6e6_1x400.png
/target/site/apidocs/script-dir/images/ui-bg_glass_95_fef1ec_1x400.png
/target/site/apidocs/script-dir/images/ui-bg_highlight-soft_75_cccccc_1x100.png
/target/site/apidocs/script-dir/images/ui-icons_2e83ff_256x240.png
/target/site/apidocs/script-dir/images/ui-icons_222222_256x240.png
/target/site/apidocs/script-dir/images/ui-icons_454545_256x240.png
/target/site/apidocs/script-dir/images/ui-icons_888888_256x240.png
/target/site/apidocs/script-dir/images/ui-icons_cd0a0a_256x240.png
/target/site/apidocs/script-dir/jquery-3.5.1.min.js
/target/site/apidocs/script-dir/jquery-ui.min.css
/target/site/apidocs/script-dir/jquery-ui.min.js
/target/site/apidocs/script-dir/jquery-ui.structure.min.css
/target/site/apidocs/allclasses-index.html
/target/site/apidocs/allpackages-index.html
/target/site/apidocs/element-list
/target/site/apidocs/help-doc.html
/target/site/apidocs/index.html
/target/site/apidocs/index-all.html
/target/site/apidocs/jquery-ui.overrides.css
/target/site/apidocs/member-search-index.js
/target/site/apidocs/module-search-index.js
/target/site/apidocs/overview-tree.html
/target/site/apidocs/package-search-index.js
/target/site/apidocs/script.js
/target/site/apidocs/search.js
/target/site/apidocs/serialized-form.html
/target/site/apidocs/stylesheet.css
/target/site/apidocs/tag-search-index.js
/target/site/apidocs/type-search-index.js
/target/maven-javadoc-plugin-stale-data.txt
